<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>

<body>
    <%- include partials/_header.ejs %>

    <h1>This is show page</h1>
  
    <% if (!locals.users) { %>

        <h2>Please login to veiw or change Urls!</h2>
    
      <% }else { %>
        <h1>Here are all your Urls</h1>
        <!-- <p><%= JSON.stringify(urls) %></p> -->
      <p>
            <% for (let keys in urls) { %>
             <li> <%= keys %> - <a href='<%= urls[keys] %>'><%= urls[keys].longURL  %></a>  
               <form method='GET' action='/urls/<%= keys %>'><button type='submit'>Edit</button></form>
                    <form method='POST' action='/urls/<%= keys %>/delete'><button type ='submit'>Delete</button></form>
                        </li>
                      </p>
            <% } %>
        
  
      <% }; %>

    
    <a href='/urls/new'>Add New URL</a>  
   
   
       

  
    
</body>
</html>


