<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>

<body>
    <%- include partials/_header.ejs %>

        <h1>Here are all Urls</h1>
       
      <ul>
       <% for (let keys in urls) { %>
        <li> <%= keys %> - <a href='<%= urls[keys] %>'><%= urls[keys] %></a>  
          <form method='GET' action='/urls/<%= keys %>'><button type='submit'>Edit</button></form>
            <form method='POST' action='/urls/<%= keys %>/delete'><button type ='submit'>Delete</button></form>
       <% } %></li>
      </ul>
      

       <a href='/urls/new'>Add New URL</a>  
       <a href='/urls/register'>Register Now</a>  
        
       
</body>
</html>


